*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

/* Header */
header{
    display: flex;
    background-color: rgba(25, 25, 25, 0.8);
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0px;
}

header nav ul{
    list-style: none;
}

header nav ul li{
    display: inline;
    position: relative;
}

.logo__header{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 3.5rem;
}

.logo__header span{
    color: #00cdce;
}

nav ul li {
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    margin: 0 1rem;
    font-size: 1rem;
    transition: all 0.5s;
    cursor: pointer;
}

nav ul li:hover{
    color:  #00cdce;
}

nav ul li::after{
    content: "";
    width: 100%;
    height: 1.5px;
    display: block;
    background-color: white;
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: all 0.5s;
}

nav ul li:hover::after{
    opacity: 0;
}

    /* Carousel */
.carousel{
    margin-top: 3rem;
}


.carousel .carousel-indicators .hihii{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-bottom: 200px;
    margin-right: 5px;
    margin-left: 5px;
}

.carousel .carousel-indicators .hihii.active{
    background-color: black;
}

.carousel__center{
    margin-bottom: 280px;
}

.carousel__center h1{
    font-size: 4rem;
    font-weight: bold;
}

.carousel__center p{
    font-size: 1.5rem;
}

    /* About */
.h1center{
    text-align: center;
    text-transform: capitalize;
    font-size: 3rem;
    padding: 3rem 0;
    font-weight: bold;
    margin-bottom: 0;    /* mặc định thẻ H1 có margin 
                              nên cho về 0 để điều */

}

#about .about__content{
    display: flex;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.about__item a{
    color: black;
}

.about__item i{
    font-size: 1.5rem;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    transition: all 0.5s;
}

.about__item i:hover{
    color: white;
    background-color: #00cdce;
}

.about__item p{
    margin-top: 1rem;
    color: rgba(0, 0, 0, 0.5);
}

    /* About us  */
#about .about__us h3{
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #00cdce;
    margin-top: 1rem;
}

#about .about__us p{
    text-align: center;
    margin-bottom: 1rem;
    color: rgb(0, 0, 0);
    margin-top: 1rem;
}

    /* Star Count */
#starcount{
    background-color:#00cdce;
    padding: 0 10rem;
}

.count{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 3rem;
}
.count p{
    font-size: 4rem;
    color: white;
    margin-bottom: 0;
}

    /* Blogs */

#blog .blog__img img{
    width: 100%;
    border-top: 5px solid #00cdce;
}

#blog .blog__content{
    background-color: #efefef;
    padding: 1rem;
}

.blog__content h3{
    color:#00cdce ;
}

.blog__content .btn{
    background-color: black;
    color:#00cdce ;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
}

.blog__content .btn:hover{
    color: white;
}

    /* Get more  */
#getmore{
    margin-top: 4rem;
}

.getmore__vid{
    background: url(../img/video.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 120px;
}

.getmore__vid i{
    font-size: 2rem;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    color: white;
    background-color: #00cece98;
}

.getmore__content{
    background-color:#00cdce ;
    text-align: center;
    padding: 3rem 3rem;
}

.getmore__content .btn{
    background-color: black;
    color:#00cdce ;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
}
    
.getmore__content .btn:hover{
    color: white;
}    

                        /* long code  */


/* PORTFOLIO  */
.portfolio{
    margin: 55px 0;
}
.portfolio h1{
    font-size: 3rem;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 20px;
}
.portfolio_content{
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.portfolio_content .portfolio_item{
    padding: 8px;
    position: relative;
}
.portfolio_content .portfolio_item img{
    display: block;
    width: 100%; 
    position: relative;
}
.portfolio_item .overlay{
    color: #02cdcd;
    text-align: center;
    width: 85%;
    height: 85%;
    background-color: rgba(0, 0, 0, 0.623);
    position: absolute;
    top: 22px;
    left: 30px;
    opacity: 0;
    transition: all 0.5s;
}
.overlay h1{
    display: inline-block;
    font-size: 28px;
    font-weight: 500;
    margin: 55px 0 20px;
    padding: 25px;
    border-top: 1px solid #02cdcd;
    border-bottom: 1px solid #02cdcd;
}
.overlay p{
    color: #fff;
}
.portfolio_item:hover .overlay{
    opacity: 1;
}
/* SUBSCRIBE  */
.subscribe{
    text-align: center;
    background-color: #00cdce;
    padding-bottom: 50px;
}
.subscribe h1{
    display: inline-block;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin: 20px;
    padding: 30px 0;
}
.subscribe p{
    font-size: 18px;
    color: #fff;
    width: 50%;
    margin: 0 auto 15px;
}
.subscribe input{
    font-size: 16px;
    padding: 12px;
    width: 35%;
    margin: auto;
    border: none;
    margin-bottom: 15px;
    border: none;
}
.subscribe .btn-sub{
    color: #fff;
    font-size: 18px;
    padding: 10px 32px;
    background-color: black;
    transition: all 0.5s;
    border: 1px solid black;
}
.subscribe .btn-sub:hover{
    color: black;
    background-color: white;
}
/* AGENTS  */
.agents{
    padding-bottom: 130px;
}
.agents h1{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin: 20px;
    padding: 30px 0;
}
.agents_content{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.agents_item{
    position: relative;
}
.agents_text{
    text-align: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.79);
    position: absolute;
    left: 0;
    bottom: -103px;
    color: #fff;
    padding: 10px 0;
}
.agents_text ul li{
    display: inline-block;
}
.agents_text h3{
    color: #00cdce;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
    transition: all 0.5s;
}
.agents_item:hover h3{
    color: white;
}
.agents_text p{
    margin: 8px 0;
}
.agents_text i{
    margin-top: 5px;
    width: 28px;
    height: 28px;
    line-height: 25px;
    border: 2px solid white;
    margin: 0 4px;
    transition: all 0.5s;
}
.agents_text i.fb:hover{
    background-color: #337ab7;
}
.agents_text i.tw:hover{
    background-color: #55acee;
}
.agents_text i.w:hover{
    background-color: #f26522;
}
/* MAP  */
.map{
    text-align: center;
}
/* CONTACT  */
.contact h1{
    font-size: 45px;
    font-weight: 500;
    text-align: center;
    margin: 20px;
    padding: 30px 0;
}
.contact_content{
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.contact_content .left input{
    display: inline-block;
    width: 100%;
    color: #000;
    background: rgb(239, 239, 239);
    outline: none;
    font-size: 16px;
    padding: 14px 16px;
    margin-bottom: 2em;
    border: none;
    border-bottom: solid 2px #999;
}

.contact_content .right textarea{
    width: 100%;
    color: #000;
    background: rgb(239, 239, 239);
    outline: none;
    font-size: 16px;
    padding: 14px 16px;
    margin-bottom: 30px;
    border: none;
    border-bottom: solid 2px #999; 
}
.contact_content .right input{
    width: 100%;
    outline: none;
    color: #fff;
    padding: 14px 16px;
    border: none;
    font-size: 16px;
    background: #000;
    transition: all 0.5s;
}
.contact_content .right input:hover{
    background-color: #00cdce;
    color: black;
}
/* FOOTER  */
.footer{
    background-color: #00cdce;
    padding: 20px 0;
    margin-bottom: 30px;
}
.footer_content{
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.footer_content .footer_left p{
    margin-top: 20px;
    letter-spacing: 1px;
    text-align: right;
    font-size: 15px;
    color: #fff;
}
.footer_left span{
    color: red;
    transition: all 0.5s;
}
.footer_left span:hover{
    color:#fff;
}
.footer_content .footer_right{
    text-align: center;
}
.footer_content .footer_right ul li{
    display: inline-block;
}
.footer_content .footer_right ul li i{
    color: #fff;
    width: 35px;
    height: 35px;
    line-height: 30px;
    border: 1px solid white;
    margin: 10px 5px;
    transition: all 0.5s;
}
.footer_right i.fb:hover{
    color: #337ab7;
}
.footer_right i.tw:hover{
    color: #8c9ee9;
}
.footer_right i.w:hover{
    color: #dd2d16;
}
.footer_right i.vk:hover{
    color: #1c7dd1;
}

/* end long code  */


/* Back to top  */
.back__to__top{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    font-size: 2rem;
}
        
.back__to__top .back__to__top__link{
    opacity: 0;
}
        
.back__to__top .cd-top--is-visible{
    visibility: visible;
    opacity: 1;
}
          
.back__to__top .cd-top--fade-out{
    opacity: .5;
}